body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}
p {
    /* background-color: #1a1a1a; */
    background: linear-gradient(to right, #8ae6e7, #dad172); /* Define the gradient colors */
    background-clip: text; /* Clip the background to the text */
    -webkit-background-clip: text; /* For older browsers */
    color: transparent;
    /* color: #d8d2d2; */
    padding: 80px;
    text-align: center;
    font-size: 20px;
    /* font-weight: bolder; */
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.action-button {
    text-align: center;
}

a {
    display: inline-block;
    background-color: #b5cbe3;
    color: #555050;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.image-actions {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

button {
    background-color: #b5cbe3;
    color: #555050;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.download-link {
    display: block !important;
    text-align: center;
    margin-top: 10px;
    color: #555050;
    text-decoration: none;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #1a1a1a;
    .card {
        width: 90vh;
        height: 90.5vh;
        background-image: linear-gradient(163deg, #00fbff 0%, #ffea00 100%);
        border-radius: 20px;
        transition: all .3s;
       }
       
       .card2 {
        width: 90vh;
        height: 90.5vh;
        background-color: #1a1a1a;
        border-radius: 20px;
        transition: all .2s;        
       }
       
       .button {
        margin-top: 22vh;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
      }
      
      /* button styling */
      .button {
        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: #00fdb1;
        --fs-size: 3.5em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
      }
      /* this is the text, when you hover on button */
      .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
      }
      /* hover */
      .button:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
      }

       .card2:hover {
        transform: scale(0.98);
        border-radius: 20px;
       }
       
       .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
       }
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #1a1a1a;
    .card {
        width: 90vh;
        height: 90.5vh;
        background-image: linear-gradient(163deg, #00fbff 0%, #ffea00 100%);
        border-radius: 20px;
        transition: all .3s;
       }
       
       .card2 {
        width: 90vh;
        height: 90.5vh;
        background-color: #1a1a1a;
        border-radius: 20px;
        transition: all .2s;
       }
       
       .button {
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
      }
      
      /* button styling */
      .button {
        --border-right: 6px;
        --text-stroke-color: rgba(255,255,255,0.6);
        --animation-color: #37FF8B;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
      }
      /* this is the text, when you hover on button */
      .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
      }
      /* hover */
      .button:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
      }

       .card2:hover {
        transform: scale(0.98);
        border-radius: 20px;
       }
       
       .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
       }
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
/* .card {
    width: 50vh;
    height: 90.5vh;
    background-image: linear-gradient(163deg, #00fbff 0%, #ffea00 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 {
    width: 50vh;
    height: 90.5vh;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   } */